-
  var gridTitles = [
    '24/7 MULTILINGUAL<br/>CUSTOMER SERVICE',
    'CANADA-WIDE<br/>TECHNICIAN NETWORK',
    'PERSONALIZED<br/>PLAN ',
    'RAPID<br/>RESPONSE',
    'PREFERRED<br/>PRICING',
    'EARN<br/>REWARDS'
  ]
-
  var gridBody = [
    'Resolve questions or arrange for service when it’s convenient for you.',
    'Access to pre-screened, experienced professional repair technicians.',
    'Select the plan that is right for you and fits your budget.',
    'Your Smarter Living Plan gives you priority service.',
    'Receive special Member pricing on Smarter Living Products.',
    'Earn Member rewards on future purchases.'
  ]

section.zuc-sixgrid-container
  h2.u-font-serif.u-zuc-indigo
    |Why choose a Smarter Living Plan from Zucora Home?
  .zuc-sixgrid-items.flex-hor-between
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-24-7-service.svg", alt="Icon of a turning clock with the text 24/7")
      h6
        |!{gridTitles[0]}
      p.h6
        |#{gridBody[0]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-tech-network.svg", alt="Icon of two workers shown from the shoulder up")
      h6
        |!{gridTitles[1]}
      p.h6
        |#{gridBody[1]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-personalized-service.svg", alt="Icon of a sparklingly clean couch")
      h6
        |!{gridTitles[2]}
      p.h6
        |#{gridBody[2]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-fast-service.svg", alt="Icon of a clock moving quickly shown with speed lines")
      h6
        |!{gridTitles[3]}
      p.h6
        |#{gridBody[3]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-preferred-pricing.svg", alt="Icon of a price tag with a star on it")
      h6
        |!{gridTitles[4]}
      p.h6
        |#{gridBody[4]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-premium-pricing.svg", alt="Icon of a piggy bank with coins dropping into it")
      h6
        |!{gridTitles[5]}
      p.h6
        |#{gridBody[5]}
