-
  var introText = [
    'With a Smarter Living Plan, you automatically receive Member benefits that include priority service, preferred pricing, special offers and personalized service. .'
  ]
-
  var title = 'Smarter Living is very rewarding.'

-
  var tiles = {
    0: {
      name: "PREFERRED PRICING",
      desc: "Receive special Member pricing on Smarter Living Products.",
      image: "../../assets/images/icons/icon-preferred-pricing.svg",
      alt: "Icon of a price tag with a star on it"
    },
    1: {
      name: "EARN REWARDS",
      desc: "Earn Member rewards on future purchases.",
      image: "../../assets/images/icons/icon-premium-pricing.svg",
      alt: "Icon of a piggy bank with coins dropping into it"
    },
    2: {
      name: "PERSONALIZED PLAN",
      desc: "Select the plan that is right for you and fits your budget.",
      image: "../../assets/images/icons/icon-personalized-service.svg",
      alt: "TODO"
    },
  }

section.zuc-secondary-header(aria-describedby="" style="background-image:url('/images/smarter-living/interior-house-header.png');")
  // Hero Content - Wrapper
  .zuc-slb-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-slb-left.u-text-left
        h1.u-font-serif.u-zuc-indigo
          |!{title}
        p.u-zuc-darkindigo
          |#{introText[0]}
        p.u-zuc-darkindigo
          |#{introText[1]}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |Get Started Today
      .zuc-hero-right
        img.--zuc-slb-img-position(src='../../assets/images/smarter-living/girl-blob-cutout-header.png' title="A smiling woman with her arms crossed")
    // Bottom Container
    .zuc-hero-row.u-soft-shadow.--slb-hero-grid-row
      h2.u-zuc-indigo.u-font-serif
        |Exceptional Member benefits.
      .zuc-header-tiles.flex.flex-vert-start.flex-hor-between
        // Tile ----------------
        // - Iterate over each value in the Tiles object
        each val, index in tiles
          .zuc-header-tile
            img.zuc-header-tile-icon(src=val.image alt=val.alt)
            h6.u-zuc-indigo.u-bold
              |#{val.name}
            p.u-zuc-darkindigo.zuc-body-small
              |#{val.desc}

  img.zuc-hero-bottom-wave(src="../../assets/images/shapes/hero-wave-bottom.svg", alt="A wave shape")

  .u-screenreader(id="header-caption")
    |BRIEFLY DESCRIBE VIDEO IN MARKETING LANGUAGE - TODO

include ../modals/modal-smarter-video.pug
