-
  var introText = [
    'With a Smarter Living Plan, you automatically recieve Member benefits that include priority service, preferred pricing, special offers and personalized service. .'
  ]
-
  var title = 'Smarter Living is very rewarding.'

-
  var tiles = {
    0: {
      name: "PREMIUM PRICING",
      desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
      image: "../../assets/images/icons/icon-preferred-pricing.svg",
      alt: "Icon of a price tag with a star on it"
    },
    1: {
      name: "EARN REWARDS",
      desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
      image: "../../assets/images/icons/icon-premium-pricing.svg",
      alt: "Icon of a piggy bank with coins dropping into it"
    },
    2: {
      name: "PERSONALIZED SERVICE",
      desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
      image: "../../assets/images/icons/icon-personalized-service.svg",
      alt: "TODO"
    },
  }

section.zuc-secondary-header(aria-describedby="" style="background-image:url('http://lullabycasa.net/wp-content/uploads/2015/07/decoration-interior-fancy-yellow-leather-for-your-house-beautiful-living-room-interior-design-combined-with-brown-wooden-coffee-table-and-white-ceiling-fitting-cool-ideas-for-house-beautiful-living-r.jpg');")
  // Hero Content - Wrapper
  .zuc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left.u-text-left
        h5.u-font-serif.u-zuc-indigo
          |!{title}
        p.u-zuc-darkindigo
          |#{introText[0]}
        p.u-zuc-darkindigo
          |#{introText[1]}
        a.zuc-secondary-link(href='#' title='TODO')
          |I’m already a Member
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |Get Started Today
      .zuc-hero-right
        img.--img-position(src='../../assets/images/smarter-living/girl-blob-cutout-header.png' title="A smiling woman with her arms crossed")
    // Bottom Container
    .zuc-hero-row.--grid-row.u-soft-shadow
      h2.u-zuc-indigo.u-font-serif
        |Your membership to Smarter Living
      .zuc-header-tiles.flex.flex-vert-start.flex-hor-between
        // Tile ----------------
        // - Iterate over each value in the Tiles object
        each val, index in tiles
          .zuc-header-tile
            img.zuc-header-tile-icon(src=val.image alt=val.alt)
            h6.u-zuc-indigo.u-bold
              |#{val.name}
            p.u-zuc-darkindigo.zuc-body-small
              |#{val.desc}

  img.zuc-hero-bottom-wave(src="../../assets/images/shapes/hero-wave-bottom.svg", alt="A wave shape")

  .u-screenreader(id="header-caption")
    |BRIEFLY DESCRIBE VIDEO IN MARKETING LANGUAGE - TODO

include ../modals/modal-smarter-video.pug
