-
  var cards = [
    {
      title: 'Universal Cleaner',
      _src: '../../assets/images/service-plans/bundles-combos-noplus.png',
      _alt: 'todo',
      price_reg: '$19.99',
      price_mem: '$16.99'
    },
    {
      title: 'Hard Surface Cleaner',
      _src: '../../assets/images/service-plans/home-systems-ac.png',
      _alt: 'todo',
      price_reg: '$19.99',
      price_mem: '$16.99'
    },
    {
      title: 'SUB-0&deg; SoftCell Chill Latex Reversible Hybrid Pillow',
      _src: '../../assets/images/smarter-products/product-baby-bazu.png',
      _alt: 'todo',
      price_reg: '$199.99',
      price_mem: '$169.99'
    },
    {
      title: 'OxyTough Commercial Stain Remover',
      _src: '../../assets/images/smarter-products/product-mop-package.png',
      _alt: 'todo',
      price_reg: '$24.99',
      price_mem: '$19.99'
    },
    {
      title: 'Leather Care Kit',
      _src: '../../assets/images/smarter-products/frio-mockup.png',
      _alt: 'todo',
      price_reg: '$49.99',
      price_mem: '$46.99'
    },
    {
      title: '3 Pack Micro Cleaning Cloth',
      _src: '../../assets/images/smarter-products/hero-zu-prodcts.png',
      _alt: 'todo',
      price_reg: '$19.99',
      price_mem: '$16.99'
    }
  ]

//-.zuc-ec-carousel-nav.--left
      img.u-imgflip-hor(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing left')
//-.zuc-ec-carousel-nav.--right
    img(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing right')
// Carousel Container
.zuc-ec-carousel-cards
  each card in cards.length ? cards : ['No cards to display']
    // Carousel Card [ Iterated ]
    a.zuc-ec-carousel-card(href="#" title="#")
      .zuc-ec-carousel-card-image
        img(src=card._src, alt=card._alt)
      .zuc-ec-carousel-card-name
        span
          |!{card.title}
      // Carousel Card Regular Price
      .zuc-ec-carousel-card-price-reg
        span
          |Regular pricing:&nbsp;
        span
          |!{card.price_reg}
      // Carousel Card Member Price
      .zuc-ec-carousel-card-price-mem
        span
          |Member pricing:&nbsp;
        span
          |!{card.price_mem}
