-
  var brad =
    {
      name : 'Brad Geddes',
      title : 'Head Coach, President &amp; CEO',
      bio : 'As an accomplished entrepreneur and business leader, Brad and his team are constantly creating opportunities to provide Canadians with smarter living solutions that combine emerging technologies with in-home professional services to help Canadians live more comfortably.',
      _linkedin : 'https://www.linkedin.com/in/bradfordgeddes/',
      _title : 'Brad Geddes LinkedIn',
     style : 'background-image:url(\'./Images/Zuc/images/about/about-team-brad.png\');'
    }

-
  var props = [
    {
      name : 'Michelle Mahovlich',
      title : 'Director, Culture &amp; Personnel',
      bio : 'By maintaining our unique Zucorian culture, Michelle is constantly devising ways to help our team members achieve their personal aspirations while contributing their very best.',
      _linkedin : '#',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-michelle.png\');'
    },
    {
      name : 'Ashleigh Geddes',
      title : 'Director, Plan Registrations',
      bio : 'Ashleigh ensures our plan registration programs provide the ultimate support for our retail partners and their customers.',
      _linkedin : 'https://www.linkedin.com/in/ashleighmgeddes/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-ashleigh.png\');'
    },
    {
      name : 'David Cohn',
      title : 'National Sales Manager',
      bio : 'With an infectious enthusiasm for life and laughter and a passion for helping our partners grow their business, David is the inspiration behind our incredible team of professional Sales Agents.',
      _linkedin : 'https://www.linkedin.com/in/david-cohn-070ab814/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-david.png\');'
    },
    {
      name : 'Magda Everett',
      title : 'Director, Financial Services',
      bio : 'Magda leads our incredible team of financial professionals who assist our many partners and associates. She also provides the internal support and guidance we need to keep our business financially strong and healthy.',
      _linkedin : 'https://www.linkedin.com/in/magdalena-everett-b3746a70/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-magda.png\');'
    },
    {
      name : 'Trevor Brimson',
      title : 'Director, Digital Transformation',
      bio : 'While leading our continuously evolving business transformation, Trevor helps us leverage the power of technology to deliver new solutions for tomorrow’s digitally connected homes.',
      _linkedin : 'https://www.linkedin.com/in/trevor-brimson-72472936/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-trevor.png\');'
    },
    {
      name : 'Oksana Tchoutchman',
      title : 'Director, Customer Solutions',
      bio : 'Delivering exceptional service is what Oksana does best. Finding creative solutions, we count on Oksana’s experience and professional expertise to deliver outstanding solutions that please our Smarter Living Members, customers, and retail partners.',
      _linkedin : 'https://www.linkedin.com/in/oksana-t-89a74891/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-oksana.png\');'
    },
    {
      name : 'Jim Brower',
      title : 'Director, Product &amp; Logistics',
      bio : 'Jim leads our product manufacturing and distribution operations to make sure we deliver only the best solutions for our customers.',
      _linkedin : 'https://www.linkedin.com/in/jim-brower-76762018/',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-jim.png\');'
    },
    {
      name : 'Colleen Babenko',
      title : 'Manager, Marketing and Communications',
      bio : 'Recognized for her work by the International Association of Business Communicators, Colleen leads our growing MarCom team to execute innovative strategies that increase Canadian\'s awareness of smarter living.',
      _linkedin : 'https://www.linkedin.com/in/colleen-babenko',
      _title : ' Linkedin',
      style : 'background-image:url(\'./Images/Zuc/images/about/about-team-colleen.png\');'
    }
  ]

section.zuc-teamgrid
  h2.teamgrid-title
    |Meet our team:
  p.teamgrid-subtitle
    |We are lead by an experienced team of professionals who are passionate about delivering exceptional service – while still finding ways to have fun!
  .zuc-teamgrid-items
    //- First two items reserved for Brad
    .zuc-teamgrid-item(style=brad.style)
    .zuc-teamgrid-item
      span.zuc-teamgrid-brad-name
        |#{brad.name}
      span.zuc-teamgrid-brad-title
        |!{brad.title}
      p.zuc-teamgrid-brad-bio
        |#{brad.bio}
      a.zuc-teamgrid-brad-link(href=brad._linkedin title=brad._title)
        i.fab.fa-linkedin
    //- Remaining items iterated
    each prop in props.length ? props : ['Gallery is empty']
      .zuc-teamgrid-item(style=prop.style)
        .zuc-teamgrid-item-overlay
          .zuc-teamgrid-item-overlay-bg
          span.zuc-teamgrid-item-title
            |!{prop.title}
          span.zuc-teamgrid-item-name
            |#{prop.name}
          .zuc-teamgrid-item-line
          p.zuc-teamgrid-item-bio.u-color-white
            |#{prop.bio}
          a.zuc-teamgrid-item-link(href=prop._linkedin title=prop._title)
            i.fab.fa-linkedin
  .zuc-bg-wave(id="join-us")
