-
  var cards = [
    {
      title: 'Universal Cleaner',
      _src: '../../assets/images/about/about-team-brad.png',
      _alt: 'todo',
      price_reg: '$19.99',
      price_mem: '$16.99'
    },
    {
      title: 'Hard Surface Cleaner',
      _src: '../../assets/images/about/about-team-mindy.png',
      _alt: 'todo',
      price_reg: '$19.99',
      price_mem: '$16.99'
    },
    {
      title: 'SUB-0&deg; SoftCell Chill Latex Reversible Hybrid Pillow',
      _src: '../../assets/images/about/about-team-colleen.png',
      _alt: 'todo',
      price_reg: '$199.99',
      price_mem: '$169.99'
    },
    {
      title: 'OxyTough Commercial Stain Remover',
      _src: '../../assets/images/about/about-team-jim.png',
      _alt: 'todo',
      price_reg: '$24.99',
      price_mem: '$19.99'
    }
  ]

.zuc-ec-home-best-sellers
  +ecom-header('Shop best sellers')
  .zuc-ec-shelf-cards
    each card in cards.length ? cards : ['No cards to display']
      .zuc-ec-shelf-card(href="#" title="#")
        a.zuc-ec-shelf-card-image(href="#" title="#")
          img(src=card._src, alt=card._alt)
        a.zuc-ec-shelf-card-name(href="#" title="#")
            |!{card.title}
        .zuc-ec-shelf-card-price-reg
          span
            |Regular pricing:&nbsp;
          span
            |!{card.price_reg}
        .zuc-ec-shelf-card-price-mem
          span
            |Member pricing:&nbsp;
          span
            |!{card.price_mem}
        .zuc-ec-btn-box
          a.zuc-btn.zuc-btn-secondary(href="#" title="#")
            |ADD TO CART
    //- Double up on iterator to make more example cards
    each card in cards.length ? cards : ['No cards to display']
      .zuc-ec-shelf-card
        a.zuc-ec-shelf-card-image(href="#" title="#")
          img(src=card._src, alt=card._alt)
        a.zuc-ec-shelf-card-name(href="#" title="#")
            |!{card.title}
        .zuc-ec-shelf-card-price-reg
          span
            |Regular pricing:&nbsp;
          span
            |!{card.price_reg}
        .zuc-ec-shelf-card-price-mem
          span
            |Member pricing:&nbsp;
          span
            |!{card.price_mem}
        .zuc-ec-btn-box
          a.zuc-btn.zuc-btn-secondary(href="#" title="#")
            |ADD TO CART
