-var slogan     = "CANADA-WIDE SHIPPING AVAILABLE. FREE ON ORDERS OVER"
-var offer      = "$39"
-var loggedIn   = "Account"
-var login      = "Login"
-var partner    = "Become a Partner"
-var cart       = "Cart"
-var cartCount  = "13"
// User Navigation
.zuc-nav-user.flex.flex-hor-between.flex-vert-center.u-uppercase
  // Slogan
  .zuc-nav-slogan.u-normal
    |#{slogan}
    span(class="u-zuc-teal")
      |#{offer}

  //Nav Links
  .zuc-user-links.flex.flex-hor-start.flex-hor-between.flex-vert-center
    // Search Placeholder

    // Login - Logged Out State
    a(href="javascript:void(0)" title="Member Login" class="zuc-user-login flex flex-vert-center u-bold u-auth-hide" onclick="toggleModal('[data-modal-login]')")
      // Logged Out State
      i.fas.fa-lock.u-auth-hide
      span.u-auth-hide
        |#{login}

    // Account - Logged In State
    a(href="#" title="My Account" class="zuc-user-login flex flex-vert-center u-bold u-auth-show")
      // Logged In state
      i.fas.fa-user.u-auth-show
      span.u-auth-show
        |#{loggedIn}

    // Partnerships
    a(href="#" title="Learn about our Partnership Program" class="zuc-user-generic")
      |#{partner}

    // Shopping Cart
    a(href="#" title="User Cart" class="zuc-user-cart flex flex-vert-center")
      i.fas.fa-shopping-cart
      span.cart-center.u-normal
        |#{cart}
      span(class="zuc-cart-count")
        // Interpolate Cart Count from Limetac
        span
          |#{cartCount}
