-
  var whyTitles = [
    '24/7 MULTILINGUAL<br/>CUSTOMER SERVICE',
    'CANADA-WIDE<br/>TECHNICIAN NETWORK',
    'ANNUAL FURNITURE<br/>CLEANING ALLOWANCE',
    'PREMIUM PRICING ON<br/>HOME WELLNESS SOLUTIONS',
    'RAPID RESPONSE<br/>TIME',
    'MEMBER REWARD<br/>REDEMPTION'
  ]
-
  var whyBody = [
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.'
  ]

.zuc-why-grid-section-container.flex.flex-column.flex-hor-center
  h5.u-zuc-indigo.u-font-serif
    |Why choose a Smarter Living Plan<br/>by Zucora Home?
  .zuc-why-grid-item-container.flex.flex-wrap
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[0]}
      p
        |#{whyBody[0]}
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[1]}
      p
        |#{whyBody[1]}
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[2]}
      p
        |#{whyBody[2]}
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[3]}
      p
        |#{whyBody[3]}
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[4]}
      p
        |#{whyBody[4]}
    .zuc-why-grid-item
      img(src="", alt="")
      h6
        |!{whyTitles[5]}
      p
        |#{whyBody[5]}