-
  var whyTitles = [
    '24/7 MULTILINGUAL<br/>CUSTOMER SERVICE',
    'CANADA-WIDE<br/>TECHNICIAN NETWORK',
    'ANNUAL FURNITURE<br/>CLEANING ALLOWANCE',
    'PREMIUM PRICING ON<br/>HOME WELLNESS SOLUTIONS',
    'RAPID RESPONSE<br/>TIME',
    'MEMBER REWARD<br/>REDEMPTION'
  ]
-
  var whyBody = [
    'Resolve questions or arrange for service when it’s convenient for you.',
    'Access to pre-screened, experienced professional repair technicians.',
    'Keep your favourite furniture or area rugs sparkling with your annual cleaning allowance.',
    'You are a priority for us and you can expect a response from our Customer Solutions Team within 24 hours.',
    'Receive discounted, member pricing for all purchases from ZU Collection, PureCare, and Zucora Home care kits.',
    'The online checkout redemption option makes it simple to apply rewards as a discount on your order or to purchase gift certificates for new furniture or appliance purchases from our retail partners.'
  ]

section.zuc-why-grid-section-container.flex.flex-column.flex-hor-center
  h5.u-zuc-indigo.u-font-serif
    |Why choose a Smarter Living Plan by Zucora Home?
  .zuc-why-grid-item-container.flex.flex-wrap
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-24-7-service.svg", alt="Icon of a turning clock with the text 24/7")
      h6
        |!{whyTitles[0]}
      p.zuc-body-small
        |#{whyBody[0]}
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-tech-network.svg", alt="Icon of two workers shown from the shoulder up")
      h6
        |!{whyTitles[1]}
      p.zuc-body-small
        |#{whyBody[1]}
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-furniture-cleaning.svg", alt="Icon of a sparklingly clean couch")
      h6
        |!{whyTitles[2]}
      p.zuc-body-small
        |#{whyBody[2]}
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-fast-service.svg", alt="Icon of a clock moving quickly shown with speed lines")
      h6
        |!{whyTitles[3]}
      p.zuc-body-small
        |#{whyBody[3]}
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-preferred-pricing.svg", alt="Icon of a price tag with a star on it")
      h6
        |!{whyTitles[4]}
      p.zuc-body-small
        |#{whyBody[4]}
    .zuc-why-grid-item
      .zuc-why-grid-img-container
        img(src="../../assets/images/icons/icon-premium-pricing.svg", alt="Icon of a piggy bank with coins dropping into it")
      h6
        |!{whyTitles[5]}
      p.zuc-body-small
        |#{whyBody[5]}
