-
  var whyTitles = [
    '24/7 MULTILINGUAL CUSTOMER SERVICE',
    'CANADA-WIDE TECHNICIAN NETWORK',
    'ANNUAL FURNITURE CLEANING ALLOWANCE',
    'PREMIUM PRICING ON HOME WELLNESS SOLUTIONS',
    'RAPID RESPONSE TIME',
    'MEMBER REWARD REDEMPTION'
  ]
-
  var whyBody = [
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit lectus quis lorem fringilla, quis venenatis diam fringilla.'
  ]

.zuc-section-container
  .zuc-why-grid-container
    h5.u-zuc-indigo.u-font-serif
      |Why choose a Smarter Living Plan<br/>by Zucora Home?
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[0]}
      p
        |#{whyBody[0]}
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[1]}
      p
        |#{whyBody[1]}
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[2]}
      p
        |#{whyBody[2]}
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[3]}
      p
        |#{whyBody[3]}
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[4]}
      p
        |#{whyBody[4]}

      .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[5]}
      p
        |#{whyBody[5]}
    .zuc-why-grid-item-container
      img(src="", alt="")
      h6
        |#{whyTitles[6]}
      p
        |#{whyBody[6]}