-
  var images = [
    {
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'todo',
      _active: true
    },
    {
      _src: '../../assets/images/service-plans/appliance-washer.png',
      _alt: 'todo2',
      _active: false
    },
    {
      _src: '../../assets/images/service-plans/appliances-fridge.png',
      _alt: 'todo3',
      _active: false
    },
    {
      _src: '../../assets/images/service-plans/home-systems-ac.png',
      _alt: 'todo4',
      _active: false
    }
  ]

- var i = 0;
// Product Showcase Module
.zuc-ec-det-showcase
  // Small image container
  .zuc-ec-showcase-left
    each image in images.length ? images : ['No images to display']
      // Small thumbnail images [ Iterated ]
      if image._active
        .zuc-ec-showcase-small-image.--active-image(showcase-small)
          img(src=image._src, alt=image._alt onclick='changeMainImage(' + i++ + ')' showcase-image)
      else
        .zuc-ec-showcase-small-image(showcase-small)
          img(src=image._src, alt=image._alt onclick='changeMainImage(' + i++ + ')' showcase-image)
  // Large image container
  .zuc-ec-showcase-right
    .zuc-ec-showcase-big-image
      img(src=images[0]._src alt=images[0]._alt showcase-big)
