-
  var applianceCoverages = [
    'Refrigerator with built-in ice and water dispensers',
    'Range/oven/cooktop',
    'Dishwasher',
    'Clothes washer',
    'Clothes dryer',
    'Freezer',
    'Icemaker (free-standing)',
    'Microwave cven (built-in)',
    'Trash compactors',
    'Food centre (built-in)'
  ]

  var furnitureCoverages = [
    'Fabric upholstery',
    'Occasional or oversized chair',
    'Loveseat',
    'Sofa (fabric, leather, synthetic)',
    'Ottoman or futon',
    'Dining chairs',
    'Reclining chair (mechanical)',
    'Mattress or foundation',
    'Motion chair (electrical)',
    'Sectional',
    'Dining room',
    'Bedroom suite'
  ]

  var homeSysCoverages= [
    'Air conditioning with ductwork',
    'Heating/furnace with ductwork',
    'Electrical',
    'Doorbells',
    'Wired smoke detectors',
    'Ceiling and exhaust fans',
    'Plumbing including stoppages',
    'Water heaters',
    'Garbage disposals',
    'Instant hot/cold dispensers',
    'Central vacuums'
  ]

//- TODO: Make this pull in all info via JS since it all changes based on the action-zone step context - AW

// - Action Zone One
.zuc-ec-plan-action-zone-container.--active
  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  // Plan Action Zone Module
  .zuc-ec-plan-action-zone
    // Action Zone Left Section
    .zuc-ec-action-zone-left
      // Action Zone CTA Box
      .zuc-ec-action-zone-cta-box
        h4.zuc-ec-action-zone-cta-step
          |STEP 1
        // .zuc-title-flag
        //   .--green
        h1.zuc-ec-action-zone-cta-title
          |Choose your base service plan:
        .zuc-select-container
          label.u-screenreader(for="service-plan")
            h1.zuc-ec-action-zone-cta-title
              |Make it a combo:
          select(required name="service-plan")
            option(value="" disabled selected id="service-plan")
              |Choose your plan
            option(value="Appliances Plan")
              |Appliances Plan
            option(value="Furniture Plan")
              |Furniture Plan
            option(value="Home Systems Coverage")
              |Home Systems Coverage
        p.zuc-ec-action-zone-cta-blurb
      // Action Zone Control Box - Desktop
      .zuc-ec-action-zone-control-box-desktop
        span
    // Action Zone Right Section
    .zuc-ec-action-zone-right
      // Action Zone Column One
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Appliances Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in applianceCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.sign
              |$
            span.dollar
              |39
            span.cents
              |.99
            span.month
              | /month
          .zuc-ec-action-zone-taxes
            |plus taxes
      // Action Zone Column Two
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Furniture Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in furnitureCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.sign
              |$
            span.dollar
              |29
            span.cents
              |.99
            span.month
              | /month
          .zuc-ec-action-zone-taxes
            |plus taxes
      // Action Zone Column Three
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Home Systems Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in homeSysCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.sign
              |$
            span.dollar
              |49
            span.cents
              |.99
            span.month
              | /month
          .zuc-ec-action-zone-taxes
            |plus taxes
    // Action Zone Control Box - Small Screens
    .zuc-ec-action-zone-control-box-small
      span
          |zuc-ec-action-zone-control-box-small
    // Action Zone Share Box
    .zuc-ec-action-zone-share-box
      span
        |zuc-ec-action-zone-share-box

        // - Action Zone One
        .zuc-ec-plan-action-zone-container
          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
          // Plan Action Zone Module
          .zuc-ec-plan-action-zone
            // Action Zone Left Section
            .zuc-ec-action-zone-left
              // Action Zone CTA Box
              .zuc-ec-action-zone-cta-box
                h4.zuc-ec-action-zone-cta-step
                  |STEP 1
                // .zuc-title-flag
                //   .--green
                h1.zuc-ec-action-zone-cta-title
                  |Choose your base service plan:
                .zuc-select-container
                  label.u-screenreader(for="service-plan")
                    h1.zuc-ec-action-zone-cta-title
                      |Make it a combo:
                  select(required name="service-plan")
                    option(value="" disabled selected id="service-plan")
                      |Choose your plan
                    option(value="Appliances Plan")
                      |Appliances Plan
                    option(value="Furniture Plan")
                      |Furniture Plan
                    option(value="Home Systems Coverage")
                      |Home Systems Coverage
                p.zuc-ec-action-zone-cta-blurb
                  |Add a second plan to save up to $30/month:
              // Action Zone Control Box - Desktop
              .zuc-ec-action-zone-control-box-desktop
                span
                  |zuc-ec-action-zone-control-box-desktop
            // Action Zone Right Section
            .zuc-ec-action-zone-right
              // Action Zone Column One
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Appliances Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in applianceCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |39
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Two
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Furniture Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in furnitureCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |29
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Three
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Home Systems Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in homeSysCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |49
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
            // Action Zone Control Box - Small Screens
            .zuc-ec-action-zone-control-box-small
              span
                  |zuc-ec-action-zone-control-box-small
            // Action Zone Share Box
            .zuc-ec-action-zone-share-box
              span
                |zuc-ec-action-zone-share-box

                // - Action Zone One
                .zuc-ec-plan-action-zone-container.--active
                  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                  // Plan Action Zone Module
                  .zuc-ec-plan-action-zone
                    // Action Zone Left Section
                    .zuc-ec-action-zone-left
                      // Action Zone CTA Box
                      .zuc-ec-action-zone-cta-box
                        h4.zuc-ec-action-zone-cta-step
                          |STEP 1
                        // .zuc-title-flag
                        //   .--green
                        h1.zuc-ec-action-zone-cta-title
                          |Choose your base service plan:
                        .zuc-select-container
                          label.u-screenreader(for="service-plan")
                            h1.zuc-ec-action-zone-cta-title
                              |Make it a combo:
                          select(required name="service-plan")
                            option(value="" disabled selected id="service-plan")
                              |Choose your plan
                            option(value="Appliances Plan")
                              |Appliances Plan
                            option(value="Furniture Plan")
                              |Furniture Plan
                            option(value="Home Systems Coverage")
                              |Home Systems Coverage
                        p.zuc-ec-action-zone-cta-blurb
                          |Add a second plan to save up to $30/month:
                      // Action Zone Control Box - Desktop
                      .zuc-ec-action-zone-control-box-desktop
                        span
                          |zuc-ec-action-zone-control-box-desktop
                    // Action Zone Right Section
                    .zuc-ec-action-zone-right
                      // Action Zone Column One
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Appliances Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in applianceCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |39
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Two
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Furniture Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in furnitureCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |29
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Three
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Home Systems Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in homeSysCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |49
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                    // Action Zone Control Box - Small Screens
                    .zuc-ec-action-zone-control-box-small
                      span
                          |zuc-ec-action-zone-control-box-small
                    // Action Zone Share Box
                    .zuc-ec-action-zone-share-box
                      span
                        |zuc-ec-action-zone-share-box

                        // - Action Zone One
                        .zuc-ec-plan-action-zone-container
                          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                          // Plan Action Zone Module
                          .zuc-ec-plan-action-zone
                            // Action Zone Left Section
                            .zuc-ec-action-zone-left
                              // Action Zone CTA Box
                              .zuc-ec-action-zone-cta-box
                                h4.zuc-ec-action-zone-cta-step
                                  |STEP 1
                                // .zuc-title-flag
                                //   .--green
                                h1.zuc-ec-action-zone-cta-title
                                  |Choose your base service plan:
                                .zuc-select-container
                                  label.u-screenreader(for="service-plan")
                                    h1.zuc-ec-action-zone-cta-title
                                      |Make it a combo:
                                  select(required name="service-plan")
                                    option(value="" disabled selected id="service-plan")
                                      |Choose your plan
                                    option(value="Appliances Plan")
                                      |Appliances Plan
                                    option(value="Furniture Plan")
                                      |Furniture Plan
                                    option(value="Home Systems Coverage")
                                      |Home Systems Coverage
                                p.zuc-ec-action-zone-cta-blurb
                                  |Add a second plan to save up to $30/month:
                              // Action Zone Control Box - Desktop
                              .zuc-ec-action-zone-control-box-desktop
                                span
                                  |zuc-ec-action-zone-control-box-desktop
                            // Action Zone Right Section
                            .zuc-ec-action-zone-right
                              // Action Zone Column One
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Appliances Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in applianceCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |39
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Two
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Furniture Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in furnitureCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |29
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Three
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Home Systems Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in homeSysCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |49
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                            // Action Zone Control Box - Small Screens
                            .zuc-ec-action-zone-control-box-small
                              span
                                  |zuc-ec-action-zone-control-box-small
                            // Action Zone Share Box
                            .zuc-ec-action-zone-share-box
                              span
                                |zuc-ec-action-zone-share-box

// - Action Zone Two
.zuc-ec-plan-action-zone-container.--active
  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  // Plan Action Zone Module
  .zuc-ec-plan-action-zone
    // Action Zone Left Section
    .zuc-ec-action-zone-left
      // Action Zone CTA Box
      .zuc-ec-action-zone-cta-box
        h4.zuc-ec-action-zone-cta-step
          |STEP 2
        // .zuc-title-flag
        //   .--green
        h1.zuc-ec-action-zone-cta-title
          |Make it a Combo
        p.zuc-ec-action-zone-cta-blurb
          |Add a second plan to save up to $30/month:
      // Action Zone Control Box - Desktop
      .zuc-ec-action-zone-control-box-desktop
        .bill-item.bill-summary.u-bold.u-uppercase
          | Your coverage summary
        .bill-item
          .span.words
            |Base Appliances Service Plan
          .span.val
            |29.99
        .bill-item
          .span.words.u-bold
            |Combo Plan Discount
          .span.val
            |-0.00
        .bill-item
          .span.words.u-bold
            |Rewards Earned
          .span.val
            |200
        .bill-item.bill-total
          .span.words.u-bold
            |Monthly Plan Fee
          .span.val
            |29.99
        .bill-checkout-btn
          a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |PROCEED TO CHECKOUT
        .bill-fine-print
          |Applicable taxes will be calculated at checkout.
    // Action Zone Right Section
    .zuc-ec-action-zone-right
      // Action Zone Column One
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Appliances Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in applianceCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          //- Todo - fix
          .tmp
            .zuc-ec-action-protected-btn
              |PROTECTED
      // Action Zone Column Two
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Furniture Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in furnitureCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.savings
              |Save &#36; 20
            span.month
              |&#47; month
          .zuc-ec-action-zone-price-btn
            a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
              |MAKE IT A COMBO
          .zuc-ec-action-zone-add-on
            | &#43; &#36; 14.99 /month
      // Action Zone Column Three
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Home Systems Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in homeSysCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.savings
              |Save &#36; 30
            span.month
              |&#47; month
          .zuc-ec-action-zone-price-btn
            a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
              |MAKE IT A COMBO
          .zuc-ec-action-zone-add-on
            | &#43; &#36; 24.99 /month
    // Action Zone Control Box - Small Screens
    .zuc-ec-action-zone-control-box-small
      span
          |zuc-ec-action-zone-control-box-small
    // Action Zone Share Box
    .zuc-ec-action-zone-share-box
      span
        |zuc-ec-action-zone-share-box

        // - Action Zone One
        .zuc-ec-plan-action-zone-container
          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
          // Plan Action Zone Module
          .zuc-ec-plan-action-zone
            // Action Zone Left Section
            .zuc-ec-action-zone-left
              // Action Zone CTA Box
              .zuc-ec-action-zone-cta-box
                h4.zuc-ec-action-zone-cta-step
                  |STEP 1
                // .zuc-title-flag
                //   .--green
                h1.zuc-ec-action-zone-cta-title
                  |Choose your base service plan:
                .zuc-select-container
                  label.u-screenreader(for="service-plan")
                    h1.zuc-ec-action-zone-cta-title
                      |Make it a combo:
                  select(required name="service-plan")
                    option(value="" disabled selected id="service-plan")
                      |Choose your plan
                    option(value="Appliances Plan")
                      |Appliances Plan
                    option(value="Furniture Plan")
                      |Furniture Plan
                    option(value="Home Systems Coverage")
                      |Home Systems Coverage
                p.zuc-ec-action-zone-cta-blurb
                  |Add a second plan to save up to $30/month:
              // Action Zone Control Box - Desktop
              .zuc-ec-action-zone-control-box-desktop
                span
                  |zuc-ec-action-zone-control-box-desktop
            // Action Zone Right Section
            .zuc-ec-action-zone-right
              // Action Zone Column One
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Appliances Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in applianceCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |39
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Two
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Furniture Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in furnitureCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |29
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Three
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Home Systems Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in homeSysCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |49
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
            // Action Zone Control Box - Small Screens
            .zuc-ec-action-zone-control-box-small
              span
                  |zuc-ec-action-zone-control-box-small
            // Action Zone Share Box
            .zuc-ec-action-zone-share-box
              span
                |zuc-ec-action-zone-share-box

                // - Action Zone One
                .zuc-ec-plan-action-zone-container.--active
                  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                  // Plan Action Zone Module
                  .zuc-ec-plan-action-zone
                    // Action Zone Left Section
                    .zuc-ec-action-zone-left
                      // Action Zone CTA Box
                      .zuc-ec-action-zone-cta-box
                        h4.zuc-ec-action-zone-cta-step
                          |STEP 1
                        // .zuc-title-flag
                        //   .--green
                        h1.zuc-ec-action-zone-cta-title
                          |Choose your base service plan:
                        .zuc-select-container
                          label.u-screenreader(for="service-plan")
                            h1.zuc-ec-action-zone-cta-title
                              |Make it a combo:
                          select(required name="service-plan")
                            option(value="" disabled selected id="service-plan")
                              |Choose your plan
                            option(value="Appliances Plan")
                              |Appliances Plan
                            option(value="Furniture Plan")
                              |Furniture Plan
                            option(value="Home Systems Coverage")
                              |Home Systems Coverage
                        p.zuc-ec-action-zone-cta-blurb
                          |Add a second plan to save up to $30/month:
                      // Action Zone Control Box - Desktop
                      .zuc-ec-action-zone-control-box-desktop
                        span
                          |zuc-ec-action-zone-control-box-desktop
                    // Action Zone Right Section
                    .zuc-ec-action-zone-right
                      // Action Zone Column One
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Appliances Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in applianceCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |39
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Two
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Furniture Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in furnitureCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |29
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Three
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Home Systems Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in homeSysCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |49
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                    // Action Zone Control Box - Small Screens
                    .zuc-ec-action-zone-control-box-small
                      span
                          |zuc-ec-action-zone-control-box-small
                    // Action Zone Share Box
                    .zuc-ec-action-zone-share-box
                      span
                        |zuc-ec-action-zone-share-box

                        // - Action Zone One
                        .zuc-ec-plan-action-zone-container
                          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                          // Plan Action Zone Module
                          .zuc-ec-plan-action-zone
                            // Action Zone Left Section
                            .zuc-ec-action-zone-left
                              // Action Zone CTA Box
                              .zuc-ec-action-zone-cta-box
                                h4.zuc-ec-action-zone-cta-step
                                  |STEP 1
                                // .zuc-title-flag
                                //   .--green
                                h1.zuc-ec-action-zone-cta-title
                                  |Choose your base service plan:
                                .zuc-select-container
                                  label.u-screenreader(for="service-plan")
                                    h1.zuc-ec-action-zone-cta-title
                                      |Make it a combo:
                                  select(required name="service-plan")
                                    option(value="" disabled selected id="service-plan")
                                      |Choose your plan
                                    option(value="Appliances Plan")
                                      |Appliances Plan
                                    option(value="Furniture Plan")
                                      |Furniture Plan
                                    option(value="Home Systems Coverage")
                                      |Home Systems Coverage
                                p.zuc-ec-action-zone-cta-blurb
                                  |Add a second plan to save up to $30/month:
                              // Action Zone Control Box - Desktop
                              .zuc-ec-action-zone-control-box-desktop
                                span
                                  |zuc-ec-action-zone-control-box-desktop
                            // Action Zone Right Section
                            .zuc-ec-action-zone-right
                              // Action Zone Column One
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Appliances Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in applianceCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |39
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Two
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Furniture Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in furnitureCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |29
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Three
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Home Systems Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in homeSysCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |49
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                            // Action Zone Control Box - Small Screens
                            .zuc-ec-action-zone-control-box-small
                              span
                                  |zuc-ec-action-zone-control-box-small
                            // Action Zone Share Box
                            .zuc-ec-action-zone-share-box
                              span
                                |zuc-ec-action-zone-share-box



// - Action Zone Three
.zuc-ec-plan-action-zone-container.--active
  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  // Plan Action Zone Module
  .zuc-ec-plan-action-zone
    // Action Zone Left Section
    .zuc-ec-action-zone-left
      // Action Zone CTA Box
      .zuc-ec-action-zone-cta-box
        h4.zuc-ec-action-zone-cta-step
          |STEP 3
        // .zuc-title-flag
        //   .--green
        h1.zuc-ec-action-zone-cta-title
          |Complete your bundle &amp; save:
        p.zuc-ec-action-zone-cta-blurb
          |Add a third plan to save up to $50 a month and protect your whole home.
      // Action Zone Control Box - Desktop
      .zuc-ec-action-zone-control-box-desktop
        .bill-item.bill-summary.u-bold.u-uppercase
          | Your coverage summary
        .bill-item
          .span.words
            |Base Appliances Service Plan
          .span.val
            |&#36;29.99
        .bill-item
          .span.words
            |Base Home Systems Service Plan
          .span.val
            |&#36;49.99
        .bill-item
          .span.words.u-bold
            |Combo Plan Discount
          .span.val
            |&#36;-14.99
        .bill-item
          .span.words.u-bold
            |Rewards Earned
          .span.val
            |500
        .bill-item.bill-total
          .span.words.u-bold
            |Monthly Plan Fee
          .span.val
            |79.98
        .bill-checkout-btn
          a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |PROCEED TO CHECKOUT
        .bill-fine-print
          |Applicable taxes will be calculated at checkout.
    // Action Zone Right Section
    .zuc-ec-action-zone-right
      // Action Zone Column One
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Appliances Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in applianceCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          // todo: fix this/these
          .zuc-ec-action-zone-price-btn
            .zuc-ec-action-protected-btn
              |PROTECTED
      // Action Zone Column Two
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Furniture Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in furnitureCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          .zuc-ec-action-zone-price
            span.savings
              |Save &#36; 50
            span.month
              |&#47; monthly
          .zuc-ec-action-zone-price-btn
            a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
              |BUNDLE &amp; SAVE
          .zuc-ec-action-zone-add-on
            | &#43; &#36; 9.99 /month
      // Action Zone Column Three
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Home Systems Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in homeSysCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          // todo: fix this/these
          .zuc-ec-action-zone-price-btn
            .zuc-ec-action-protected-btn
              |PROTECTED
    // Action Zone Control Box - Small Screens
    .zuc-ec-action-zone-control-box-small
      span
        |zuc-ec-action-zone-control-box-small
    // Action Zone Share Box
    .zuc-ec-action-zone-share-box
      span
        |zuc-ec-action-zone-share-box

        // - Action Zone One
        .zuc-ec-plan-action-zone-container
          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
          // Plan Action Zone Module
          .zuc-ec-plan-action-zone
            // Action Zone Left Section
            .zuc-ec-action-zone-left
              // Action Zone CTA Box
              .zuc-ec-action-zone-cta-box
                h4.zuc-ec-action-zone-cta-step
                  |STEP 1
                // .zuc-title-flag
                //   .--green
                h1.zuc-ec-action-zone-cta-title
                  |Choose your base service plan:
                .zuc-select-container
                  label.u-screenreader(for="service-plan")
                    h1.zuc-ec-action-zone-cta-title
                      |Make it a combo:
                  select(required name="service-plan")
                    option(value="" disabled selected id="service-plan")
                      |Choose your plan
                    option(value="Appliances Plan")
                      |Appliances Plan
                    option(value="Furniture Plan")
                      |Furniture Plan
                    option(value="Home Systems Coverage")
                      |Home Systems Coverage
                p.zuc-ec-action-zone-cta-blurb
                  |Add a second plan to save up to $30/month:
              // Action Zone Control Box - Desktop
              .zuc-ec-action-zone-control-box-desktop
                span
                  |zuc-ec-action-zone-control-box-desktop
            // Action Zone Right Section
            .zuc-ec-action-zone-right
              // Action Zone Column One
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Appliances Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in applianceCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |39
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Two
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Furniture Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in furnitureCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |29
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Three
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Home Systems Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in homeSysCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |49
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
            // Action Zone Control Box - Small Screens
            .zuc-ec-action-zone-control-box-small
              span
                  |zuc-ec-action-zone-control-box-small
            // Action Zone Share Box
            .zuc-ec-action-zone-share-box
              span
                |zuc-ec-action-zone-share-box

                // - Action Zone One
                .zuc-ec-plan-action-zone-container.--active
                  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                  // Plan Action Zone Module
                  .zuc-ec-plan-action-zone
                    // Action Zone Left Section
                    .zuc-ec-action-zone-left
                      // Action Zone CTA Box
                      .zuc-ec-action-zone-cta-box
                        h4.zuc-ec-action-zone-cta-step
                          |STEP 1
                        // .zuc-title-flag
                        //   .--green
                        h1.zuc-ec-action-zone-cta-title
                          |Choose your base service plan:
                        .zuc-select-container
                          label.u-screenreader(for="service-plan")
                            h1.zuc-ec-action-zone-cta-title
                              |Make it a combo:
                          select(required name="service-plan")
                            option(value="" disabled selected id="service-plan")
                              |Choose your plan
                            option(value="Appliances Plan")
                              |Appliances Plan
                            option(value="Furniture Plan")
                              |Furniture Plan
                            option(value="Home Systems Coverage")
                              |Home Systems Coverage
                        p.zuc-ec-action-zone-cta-blurb
                          |Add a second plan to save up to $30/month:
                      // Action Zone Control Box - Desktop
                      .zuc-ec-action-zone-control-box-desktop
                        span
                          |zuc-ec-action-zone-control-box-desktop
                    // Action Zone Right Section
                    .zuc-ec-action-zone-right
                      // Action Zone Column One
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Appliances Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in applianceCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |39
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Two
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Furniture Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in furnitureCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |29
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Three
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Home Systems Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in homeSysCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |49
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                    // Action Zone Control Box - Small Screens
                    .zuc-ec-action-zone-control-box-small
                      span
                          |zuc-ec-action-zone-control-box-small
                    // Action Zone Share Box
                    .zuc-ec-action-zone-share-box
                      span
                        |zuc-ec-action-zone-share-box

                        // - Action Zone One
                        .zuc-ec-plan-action-zone-container
                          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                          // Plan Action Zone Module
                          .zuc-ec-plan-action-zone
                            // Action Zone Left Section
                            .zuc-ec-action-zone-left
                              // Action Zone CTA Box
                              .zuc-ec-action-zone-cta-box
                                h4.zuc-ec-action-zone-cta-step
                                  |STEP 1
                                // .zuc-title-flag
                                //   .--green
                                h1.zuc-ec-action-zone-cta-title
                                  |Choose your base service plan:
                                .zuc-select-container
                                  label.u-screenreader(for="service-plan")
                                    h1.zuc-ec-action-zone-cta-title
                                      |Make it a combo:
                                  select(required name="service-plan")
                                    option(value="" disabled selected id="service-plan")
                                      |Choose your plan
                                    option(value="Appliances Plan")
                                      |Appliances Plan
                                    option(value="Furniture Plan")
                                      |Furniture Plan
                                    option(value="Home Systems Coverage")
                                      |Home Systems Coverage
                                p.zuc-ec-action-zone-cta-blurb
                                  |Add a second plan to save up to $30/month:
                              // Action Zone Control Box - Desktop
                              .zuc-ec-action-zone-control-box-desktop
                                span
                                  |zuc-ec-action-zone-control-box-desktop
                            // Action Zone Right Section
                            .zuc-ec-action-zone-right
                              // Action Zone Column One
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Appliances Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in applianceCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |39
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Two
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Furniture Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in furnitureCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |29
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Three
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Home Systems Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in homeSysCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |49
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                            // Action Zone Control Box - Small Screens
                            .zuc-ec-action-zone-control-box-small
                              span
                                  |zuc-ec-action-zone-control-box-small
                            // Action Zone Share Box
                            .zuc-ec-action-zone-share-box
                              span
                                |zuc-ec-action-zone-share-box


// - Action Zone Four
.zuc-ec-plan-action-zone-container.--active
  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  // Plan Action Zone Module
  .zuc-ec-plan-action-zone
    // Action Zone Left Section
    .zuc-ec-action-zone-left
      // Action Zone CTA Box
      .zuc-ec-action-zone-cta-box
        h4.zuc-ec-action-zone-cta-step
          |STEP 4
        // .zuc-title-flag
        //   .--green
        h1.zuc-ec-action-zone-cta-title
          |Complete your purchase:
        p.zuc-ec-action-zone-cta-blurb
      // Action Zone Control Box - Desktop
      .zuc-ec-action-zone-control-box-desktop
        .bill-item.bill-summary.u-bold.u-uppercase
          | Your coverage summary
        .bill-item
          .span.words
            |Base Furniture Service Plan
          .span.val
            |&#36;29.99
        .bill-item
          .span.words
            |Base Appliances Service Plan
          .span.val
            |&#36;39.99
        .bill-item
          .span.words
            |Base Home Systems Service Plan
          .span.val
            |&#36;49.99
        .bill-item
          .span.words.u-bold
            |Whole Home Bundle Discount
          .span.val
            |&#36;-50.00
        .bill-item
          .span.words.u-bold
            |Rewards Earned
          .span.val
            |700
        .bill-item.bill-total
          .span.words.u-bold
            |Monthly Plan Fee
          .span.val
            |69.98
        // TODO - make btn bigger
        .bill-checkout-btn
          a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |PROCEED TO CHECKOUT
        .bill-fine-print
          |Applicable taxes will be calculated at checkout.
    // Action Zone Right Section
    .zuc-ec-action-zone-right
      // Action Zone Column One
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Appliances Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in applianceCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          // todo: fix this/these
          .zuc-ec-action-zone-price-btn
            .zuc-ec-action-protected-btn
              |PROTECTED
      // Action Zone Column Two
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Furniture Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in furnitureCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          // todo: fix this/these
          .zuc-ec-action-zone-price-btn
            .zuc-ec-action-protected-btn
              |PROTECTED
      // Action Zone Column Three
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Home Systems Coverage:
          ul.zuc-ec-action-zone-info-list
            each val in homeSysCoverages
              li= val
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          // todo: fix this/these
          .zuc-ec-action-zone-price-btn
            .zuc-ec-action-protected-btn
              |PROTECTED
    // Action Zone Control Box - Small Screens
    .zuc-ec-action-zone-control-box-small
      span
        |zuc-ec-action-zone-control-box-small
    // Action Zone Share Box
    .zuc-ec-action-zone-share-box
      span
        |zuc-ec-action-zone-share-box

        // - Action Zone One
        .zuc-ec-plan-action-zone-container
          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
          // Plan Action Zone Module
          .zuc-ec-plan-action-zone
            // Action Zone Left Section
            .zuc-ec-action-zone-left
              // Action Zone CTA Box
              .zuc-ec-action-zone-cta-box
                h4.zuc-ec-action-zone-cta-step
                  |STEP 1
                // .zuc-title-flag
                //   .--green
                h1.zuc-ec-action-zone-cta-title
                  |Choose your base service plan:
                .zuc-select-container
                  label.u-screenreader(for="service-plan")
                    h1.zuc-ec-action-zone-cta-title
                      |Make it a combo:
                  select(required name="service-plan")
                    option(value="" disabled selected id="service-plan")
                      |Choose your plan
                    option(value="Appliances Plan")
                      |Appliances Plan
                    option(value="Furniture Plan")
                      |Furniture Plan
                    option(value="Home Systems Coverage")
                      |Home Systems Coverage
                p.zuc-ec-action-zone-cta-blurb
                  |Add a second plan to save up to $30/month:
              // Action Zone Control Box - Desktop
              .zuc-ec-action-zone-control-box-desktop
                span
                  |zuc-ec-action-zone-control-box-desktop
            // Action Zone Right Section
            .zuc-ec-action-zone-right
              // Action Zone Column One
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Appliances Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in applianceCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |39
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Two
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Furniture Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in furnitureCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |29
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
              // Action Zone Column Three
              .zuc-ec-action-zone-info-col
                // Action Zone Info Box Image
                .zuc-ec-action-zone-image-box
                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                // Action Zone Info Box
                .zuc-ec-action-zone-info-box
                  h4.zuc-ec-action-zone-info-title
                    |Home Systems Coverage:
                  ul.zuc-ec-action-zone-info-list
                    each val in homeSysCoverages
                      li= val
                // Action Zone Info Bumper Box
                .zuc-ec-action-zone-bumper-box
                  .zuc-ec-action-zone-price
                    span.sign
                      |$
                    span.dollar
                      |49
                    span.cents
                      |.99
                    span.month
                      | /month
                  .zuc-ec-action-zone-taxes
                    |plus taxes
            // Action Zone Control Box - Small Screens
            .zuc-ec-action-zone-control-box-small
              span
                  |zuc-ec-action-zone-control-box-small
            // Action Zone Share Box
            .zuc-ec-action-zone-share-box
              span
                |zuc-ec-action-zone-share-box

                // - Action Zone One
                .zuc-ec-plan-action-zone-container.--active
                  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                  // Plan Action Zone Module
                  .zuc-ec-plan-action-zone
                    // Action Zone Left Section
                    .zuc-ec-action-zone-left
                      // Action Zone CTA Box
                      .zuc-ec-action-zone-cta-box
                        h4.zuc-ec-action-zone-cta-step
                          |STEP 1
                        // .zuc-title-flag
                        //   .--green
                        h1.zuc-ec-action-zone-cta-title
                          |Choose your base service plan:
                        .zuc-select-container
                          label.u-screenreader(for="service-plan")
                            h1.zuc-ec-action-zone-cta-title
                              |Make it a combo:
                          select(required name="service-plan")
                            option(value="" disabled selected id="service-plan")
                              |Choose your plan
                            option(value="Appliances Plan")
                              |Appliances Plan
                            option(value="Furniture Plan")
                              |Furniture Plan
                            option(value="Home Systems Coverage")
                              |Home Systems Coverage
                        p.zuc-ec-action-zone-cta-blurb
                          |Add a second plan to save up to $30/month:
                      // Action Zone Control Box - Desktop
                      .zuc-ec-action-zone-control-box-desktop
                        span
                          |zuc-ec-action-zone-control-box-desktop
                    // Action Zone Right Section
                    .zuc-ec-action-zone-right
                      // Action Zone Column One
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Appliances Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in applianceCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |39
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Two
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Furniture Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in furnitureCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |29
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                      // Action Zone Column Three
                      .zuc-ec-action-zone-info-col
                        // Action Zone Info Box Image
                        .zuc-ec-action-zone-image-box
                          img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                        // Action Zone Info Box
                        .zuc-ec-action-zone-info-box
                          h4.zuc-ec-action-zone-info-title
                            |Home Systems Coverage:
                          ul.zuc-ec-action-zone-info-list
                            each val in homeSysCoverages
                              li= val
                        // Action Zone Info Bumper Box
                        .zuc-ec-action-zone-bumper-box
                          .zuc-ec-action-zone-price
                            span.sign
                              |$
                            span.dollar
                              |49
                            span.cents
                              |.99
                            span.month
                              | /month
                          .zuc-ec-action-zone-taxes
                            |plus taxes
                    // Action Zone Control Box - Small Screens
                    .zuc-ec-action-zone-control-box-small
                      span
                          |zuc-ec-action-zone-control-box-small
                    // Action Zone Share Box
                    .zuc-ec-action-zone-share-box
                      span
                        |zuc-ec-action-zone-share-box

                        // - Action Zone One
                        .zuc-ec-plan-action-zone-container
                          img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
                          // Plan Action Zone Module
                          .zuc-ec-plan-action-zone
                            // Action Zone Left Section
                            .zuc-ec-action-zone-left
                              // Action Zone CTA Box
                              .zuc-ec-action-zone-cta-box
                                h4.zuc-ec-action-zone-cta-step
                                  |STEP 1
                                // .zuc-title-flag
                                //   .--green
                                h1.zuc-ec-action-zone-cta-title
                                  |Choose your base service plan:
                                .zuc-select-container
                                  label.u-screenreader(for="service-plan")
                                    h1.zuc-ec-action-zone-cta-title
                                      |Make it a combo:
                                  select(required name="service-plan")
                                    option(value="" disabled selected id="service-plan")
                                      |Choose your plan
                                    option(value="Appliances Plan")
                                      |Appliances Plan
                                    option(value="Furniture Plan")
                                      |Furniture Plan
                                    option(value="Home Systems Coverage")
                                      |Home Systems Coverage
                                p.zuc-ec-action-zone-cta-blurb
                                  |Add a second plan to save up to $30/month:
                              // Action Zone Control Box - Desktop
                              .zuc-ec-action-zone-control-box-desktop
                                span
                                  |zuc-ec-action-zone-control-box-desktop
                            // Action Zone Right Section
                            .zuc-ec-action-zone-right
                              // Action Zone Column One
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Appliances Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in applianceCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |39
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Two
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Furniture Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in furnitureCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |29
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                              // Action Zone Column Three
                              .zuc-ec-action-zone-info-col
                                // Action Zone Info Box Image
                                .zuc-ec-action-zone-image-box
                                  img(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
                                // Action Zone Info Box
                                .zuc-ec-action-zone-info-box
                                  h4.zuc-ec-action-zone-info-title
                                    |Home Systems Coverage:
                                  ul.zuc-ec-action-zone-info-list
                                    each val in homeSysCoverages
                                      li= val
                                // Action Zone Info Bumper Box
                                .zuc-ec-action-zone-bumper-box
                                  .zuc-ec-action-zone-price
                                    span.sign
                                      |$
                                    span.dollar
                                      |49
                                    span.cents
                                      |.99
                                    span.month
                                      | /month
                                  .zuc-ec-action-zone-taxes
                                    |plus taxes
                            // Action Zone Control Box - Small Screens
                            .zuc-ec-action-zone-control-box-small
                              span
                                  |zuc-ec-action-zone-control-box-small
                            // Action Zone Share Box
                            .zuc-ec-action-zone-share-box
                              span
                                |zuc-ec-action-zone-share-box