-
  var images = [
    {
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'todo',
      _active: true
    },
    {
      _src: '',
      _alt: '',
      _active: false
    },
    {
      _src: '',
      _alt: '',
      _active: false
    },
    {
      _src: '',
      _alt: '',
      _active: false
    }
  ]

// Product Showcase Module
.zuc-ec-det-showcase
  // Small image container
  .zuc-ec-showcase-left
    each image in images.length ? images : ['No images to display']
      // Small thumbnail images [ Iterated ]
      if image._active
        .zuc-ec-showcase-small-image.--active
          img(src=image._src, alt=image._alt)
      else
        .zuc-ec-showcase-small-image
          img(src=image._src, alt=image._alt)
  // Large image container
  .zuc-ec-showcase-right
    .zuc-ec-showcase-big-image
      img(src=images[0]._src alt=images[0]._alt)
