section.zuc-dual-video.flex.flex-wrap.flex-hor-center
  .zuc-header-box
    +ecom-header-underlined('Natural ways to sleep better')
  .zuc-video-block
    p
      |Regardless of the season, many sleepers struggle with sleeping hot, resulting in uncomfortable, interrupted sleep. PureCare's SUB-0&deg;&reg; pillows are a hybrid of technical textiles and premium fills, fusing wellness with cooling comfort.
    // Video or Image ( Image can also be added as BKG to above container )
    //- Final Video: https://www.youtube.com/watch?v=MU4LfGGEfFY

    video(
      class="zuc-body-video"
      poster="https://i.vimeocdn.com/video/741028633.jpg"
      style="background-image: url('https://i.vimeocdn.com/video/741028633.jpg'); background-size: cover;"
      preload="auto" controls)

      source(src="https://player.vimeo.com/external/302281082.sd.mp4?s=9ef20d10f057990f51e0a831efef2cabc7a96a05&profile_id=165" type="video/mp4")


  .zuc-video-block.--space
    p
      |Promote restful sleep and increased comfort with Celliant sleep technology. Extensively researched and developed for both durability and effectiveness, Celliant fibres are the world’s most advanced and clinically tested responsive textile technology.
    // Video or Image ( Image can also be added as BKG to above container )
    //- Final Video: https://www.youtube.com/watch?v=4DNPjNE0zeY
    
    video(
      class="zuc-body-video"
      poster="https://i.vimeocdn.com/video/741029420.jpg"
      style="background-image: url('https://i.vimeocdn.com/video/741029420.jpg'); background-size: cover;"
      preload="auto" controls)

      source(src="https://player.vimeo.com/external/302282606.sd.mp4?s=7c7f4268f4c3eb7e69d04ee93c29275f800e80e7&profile_id=164" type="video/mp4")
