-
  var gridTitles = [
    'Clinically Tested',
    'Protection from<br/> Mould &amp; Mildew',
    'Allergen Barriers',
    'Bed Bug<br/>Protection',
    'Dust Mite<br/>Protection',
    'Bacteria-Free<br/>Protection'
  ]
-
  var gridBody = [
    'PureCare products are certified to OEKO-TEX® standard 100, ensuring that our sleep products contain no harmful chemicals to humans or pets.',
    'Moisture can trigger the growth of mould and mildew. PureCare protectors provide a barrier around your mattress and pillows to prevent this from happening.',
    'Clinically proven protectors fit mattresses and pillows like a glove; and are designed to be washed and dried on hot settings for optimal sanitization.',
    'MiteTight&reg; seams and a locking zipper on encasements create an extra level of defence.',
    'Designed to be laundered on hot settings to eliminate allergens, the warranty guarantees your satisfication against deterioration.',
    'Antimicrobial silver chloride inhibits bacteria, mould and mildew that causes deterioration, stains and odours.'
  ]

section.zuc-sixgrid-container
  h2
    |Discover the secrets behind healthy sleep.
  p.zuc-sixgrid-subtext
    |Our PureCare products are designed with clinically tested fabrics. The scientifically advanced fibres deliver sleep solutions focused on additional wellness, hygiene and comfort benefits to the sleeper.
  .zuc-sixgrid-items
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-clinically-tested.svg", alt="Icon of a clipboard")
      h6
        |!{gridTitles[0]}
      p
        |#{gridBody[0]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-mould-mildew.svg", alt="Icon of mould")
      h6
        |!{gridTitles[1]}
      p
        |#{gridBody[1]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-allergen.svg", alt="Icon of an allergen")
      h6
        |!{gridTitles[2]}
      p
        |#{gridBody[2]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-bed-bug.svg", alt="Icon of a bed bug")
      h6
        |!{gridTitles[3]}
      p
        |!{gridBody[3]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-dust-mites.svg", alt="Icon of a dust mite")
      h6
        |!{gridTitles[4]}
      p
        |#{gridBody[4]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-bacteria-free.svg", alt="Icon of bacteria")
      h6
        |!{gridTitles[5]}
      p
        |#{gridBody[5]}
