-
  var gridTitles = [
    'Non-Toxic',
    'Clinically Tested',
    'Not Tested On Animals'
  ]
-
  var gridBody = [
    'Producs do not contain ingredients that have been linked to toxic responses.',
    'PureCare products are certified to OEKO-TEX&reg; standard 100, ensuring that our sleep products contain no harmful chemicals to humans or pets.',
    'Ingredients and final products have not been tested on animals.'
  ]
  
section.zuc-sixgrid-container.--grey
  h2
    |Smarter products = Smarter living.
  p.zuc-sixgrid-subtext
    |Zucora Home offers environmentally responsible Smarter Product solutions. These non-toxic cleaning and personal care items and bedding essentials, will empower your quest for a clean home and healthy family while having a positive impact on the world around you.
  .zuc-sixgrid-items
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-non-toxic.svg", alt="Icon of a home with a heart on it")
      h6
        |!{gridTitles[0]}
      p
        |!{gridBody[0]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-clinically-tested.svg", alt="Icon of a clipboard")
      h6
        |!{gridTitles[1]}
      p
        |!{gridBody[1]}
    .zuc-sixgrid-item 
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-animal.svg", alt="Icon of a rabbit")
      h6
        |!{gridTitles[2]}
      p
        |!{gridBody[2]}

  img.zuc-spr-hero-wave(src="../../assets/images/shapes/wave-top.svg", alt="todo")
