-
  var gridTitles = [
    'Eco-Friendly',
    'Non-Toxic',
    'Phosphate-Free',
    'Sulfate-Free',
    'Paraben-Free',
    'Not Tested On Animals'
  ]
-
  var gridBody = [
    'Earth-friendly. Not harmful to the environment.',
    'Products do not contain ingredients that have been linked to toxic responses.',
    'Does not include ingredients which negatively impact aquatic life.',
    'Products will not create a lather or bubble to remove dirt from skin or surfaces.',
    'Products are free of parabens which are linked to sensitivity and irritation issues.',
    'Ingredients and final products have not been tested on animals.'
  ]

section.zuc-sixgrid-container.--zu-sixgrid.--grey
  h2
    |Clean homes, healthy families.
  p.zuc-sixgrid-subtext.--zu-subsixgrid
    |ZU Collection's non-toxic ingredients are gentle on skin, tough on dirt, and delightful to use. The refreshing scents will leave you confident that you’re not using harsh chemicals; and that you’re making a positive impact on your family’s well-being and your environment.
  .zuc-sixgrid-items.flex-hor-between
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-eco-friendly.svg", alt="Icon of the Earth")
      h6
        |!{gridTitles[0]}
      p
        |#{gridBody[0]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-non-toxic.svg", alt="Icon of a home with a heart on it")
      h6
        |!{gridTitles[1]}
      p
        |#{gridBody[1]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-phosphate-free.svg", alt="Icon of a chemical")
      h6
        |!{gridTitles[2]}
      p
        |#{gridBody[2]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-sulfate-free.svg", alt="Icon of an atom with electrons")
      h6
        |!{gridTitles[3]}
      p
        |#{gridBody[3]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-paraben-free.svg", alt="Icon of a chemical compound")
      h6
        |!{gridTitles[4]}
      p
        |#{gridBody[4]}
    .zuc-sixgrid-item
      .zuc-sixgrid-img-container
        img(src="../../assets/images/icons/icon-animal.svg", alt="Icon of rabbit")
      h6
        |!{gridTitles[5]}
      p
        |#{gridBody[5]}
